@font-face {
    font-family: "flaticon";
    src: url("../font/flaticon.ttf?013f8701cdea2e64968e0a14bc5bda76") format("truetype"),
url("../font/flaticon.woff?013f8701cdea2e64968e0a14bc5bda76") format("woff"),
url("../font/flaticon.woff2?013f8701cdea2e64968e0a14bc5bda76") format("woff2"),
url("../font/flaticon.eot?013f8701cdea2e64968e0a14bc5bda76#iefix") format("embedded-opentype"),
url("../font/flaticon.svg?013f8701cdea2e64968e0a14bc5bda76#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-buddhist-yoga-pose:before {
    content: "\f101";
}
.flaticon-man-boxing:before {
    content: "\f102";
}
.flaticon-exercise:before {
    content: "\f103";
}
.flaticon-weightlifting:before {
    content: "\f104";
}
.flaticon-man-at-bar:before {
    content: "\f105";
}
.flaticon-man-jumping-rope:before {
    content: "\f106";
}
.flaticon-man-doing-yoga:before {
    content: "\f107";
}
.flaticon-exercise-1:before {
    content: "\f108";
}
.flaticon-yoga:before {
    content: "\f109";
}
.flaticon-fitness:before {
    content: "\f10a";
}
