$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?013f8701cdea2e64968e0a14bc5bda76") format("truetype"),
url("./flaticon.woff?013f8701cdea2e64968e0a14bc5bda76") format("woff"),
url("./flaticon.woff2?013f8701cdea2e64968e0a14bc5bda76") format("woff2"),
url("./flaticon.eot?013f8701cdea2e64968e0a14bc5bda76#iefix") format("embedded-opentype"),
url("./flaticon.svg?013f8701cdea2e64968e0a14bc5bda76#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "buddhist-yoga-pose": "\f101",
    "man-boxing": "\f102",
    "exercise": "\f103",
    "weightlifting": "\f104",
    "man-at-bar": "\f105",
    "man-jumping-rope": "\f106",
    "man-doing-yoga": "\f107",
    "exercise-1": "\f108",
    "yoga": "\f109",
    "fitness": "\f10a",
);

.flaticon-buddhist-yoga-pose:before {
    content: map-get($flaticon-map, "buddhist-yoga-pose");
}
.flaticon-man-boxing:before {
    content: map-get($flaticon-map, "man-boxing");
}
.flaticon-exercise:before {
    content: map-get($flaticon-map, "exercise");
}
.flaticon-weightlifting:before {
    content: map-get($flaticon-map, "weightlifting");
}
.flaticon-man-at-bar:before {
    content: map-get($flaticon-map, "man-at-bar");
}
.flaticon-man-jumping-rope:before {
    content: map-get($flaticon-map, "man-jumping-rope");
}
.flaticon-man-doing-yoga:before {
    content: map-get($flaticon-map, "man-doing-yoga");
}
.flaticon-exercise-1:before {
    content: map-get($flaticon-map, "exercise-1");
}
.flaticon-yoga:before {
    content: map-get($flaticon-map, "yoga");
}
.flaticon-fitness:before {
    content: map-get($flaticon-map, "fitness");
}
